.top{
  text-align:center;
  min-height: 400px;
  background: url('../ip2/assets/backgrounds/landing.jpg');
  color:white;
  margin-bottom: 0px;
}
#party-hour{
  background-color: #F15A29;
  height:105px;
  width: 350px;
  justify-content: center;
  align-items: center;
  display: flex;
}
#happy-hour{

  background-color: white;
  height:105px;
  width: 350px;
  justify-content: center;
  align-items: center;
  display: flex;
}
#breakfast{
  height:210px;
  width: 350px;
  background: url('../ip2/assets/foodtop/breakfast.jpg') no-repeat;
  justify-content: center;
  display: flex;
  color: #ffffff;
  align-items: center;
  }
#lunch{
  height:210px;
  width: 350px;
  background: url('../ip2/assets/foodtop/lunch.jpg') no-repeat;
  justify-content: center;
  display: flex;
  color: #ffffff;
  align-items: center;
  }
#dinner{
  height:210px;
  width: 350px;
  background: url('../ip2/assets/foodtop/dinner.jpg') no-repeat;
  justify-content: center;
  display: flex;
  color: #ffffff;
  align-items: center;
  }
.button{
 font-style: italic;
 color: #ff3300;
 font-style: oblique;
 }
