.top{
  text-align:center;
  min-height: 400px;
  background: url('../ip2/assets/backgrounds/landing.jpg');
  color:white;
  margin-bottom: 0px;
}
#main-menu{
  margin-top: 0px;
}
#logo{
  margin-top: 70px;
}
#logo-caption{
  padding: 30px;
}
#party-hour{
  background-color: #F15A29;
  height:105px;
  width: 350px;
  justify-content: center;
  align-items: center;
  display: flex;
}
#happy-hour{

  background-color: white;
  height:105px;
  width: 350px;
  justify-content: center;
  align-items: center;
  display: flex;
}
#breakfast{
  height:210px;
  width: 350px;
  background: url('../ip2/assets/foodtop/breakfast.jpg') no-repeat;
  justify-content: center;
  display: flex;
  color: #ffffff;
  align-items: center;
  }
#lunch{
  height:210px;
  width: 350px;
  background: url('../ip2/assets/foodtop/lunch.jpg') no-repeat;
  justify-content: center;
  display: flex;
  color: #ffffff;
  align-items: center;
  }
#dinner{
  height:210px;
  width: 350px;
  background: url('../ip2/assets/foodtop/dinner.jpg') no-repeat;
  justify-content: center;
  display: flex;
  color: #ffffff;
  align-items: center;
  }
  #img{
    margin: 100px;
    border-radius: 4px;
    padding: 5px;
    padding-right: 0px;
    border: 1px solid #ddd;
    align-content: center;
    align-items: center;
  }
  #img1 {
    width: 400px;
}
#img2 {
  width: 400px;
}
#img3{
  height:300px;
}
#img4{
  height:300px;
}
#button1 {
    background-color: white;
    color: #F15A29;
    border: 2px solid #F15A29;
    padding: 10px;
    border-radius: 4px;
    margin-top: 50px;

}
 .text{
   padding: 50px;
 }
 body {
     margin: 0;
     font-family: 'Lato', sans-serif;
 }
#myNav1{
  float: left;
  margin: 20px;
}
 .overlay {
     height: 0%;
     width: 100%;
     position: fixed;
     z-index: 1;
     top: 0;
     left: 0;
     background-color: #F15A29;
     overflow-y: hidden;
     transition: 0.5s;
 }

 .overlay-content {
     position: relative;
     top: 25%;
     width: 100%;
     text-align: center;
     margin-top: 30px;
 }

 .overlay a {
     padding: 8px;
     text-decoration: none;
     font-size: 36px;
     color: black;
     display: block;
     transition: 0.3s;
 }

 .overlay a:hover, .overlay a:focus {
     color: #f1f1f1;
 }

 .overlay .closebtn {
     position: absolute;
     top: 20px;
     right: 45px;
     font-size: 60px;
 }

 @media screen and (max-height: 450px) {
   .overlay {overflow-y: auto;}
   .overlay a {font-size: 20px}
   .overlay .closebtn {
     font-size: 40px;
     top: 15px;
     right: 35px;
   }
 }
